<div class= 'page-header'>
  <p><h1><%= "#{@vendor.name}" %> <%= link_to "Add Quote", new_vendor_budget_path(@vendor), class:"btn btn-info pull-right" %></h1></p>
</div>

<table class="table">
  <thead>
    <th> Phone Number </th>
    <th> Contact </th>
    <th> Email </th>
    <th> Notes </th>
    <th></th>

  </thead>
  <tbody>
    <td><%= @vendor.phone_number %></td>
    <td><%= @vendor.contact_person %></td>
    <td><%= @vendor.contact_email %></td>
    <td><%= @vendor.additional_info %></td>

    <td><%= link_to 'Edit', edit_vendor_path(@vendor), class: 'btn btn-info'%>
    <%= link_to 'Delete', vendor_path(@vendor), method: :delete, class: 'btn btn-danger' %>
    <%= link_to 'Back', vendors_path, class: "btn btn-default" %></td>
  </tbody>
</table>


<table class= 'table'>
  <thead>
    <th>Quotes:</th>
  </thead>
    <% if @vendor.budgets %>
    <% @vendor.budgets.each do |quote| %>
      <tbody>
        <td><%= link_to "$#{quote.total_due} Quote Info", vendor_budget_path(vendor_id:quote.vendor_id, id:quote.id) %></td>
      </tbody>
    <% end %>
  <% end %>
</table>

<br>
<br>
<br>
<br>
<% if @vendor.name && @vendor.name == 'Love in Bloom' %>
  <div class= "text-center">
    <a data-pin-do="embedBoard" href="http://www.pinterest.com/katie1pekarek/love-in-bloom/" data-pin-scale-width="200" data-pin-scale-height="420" data-pin-board-width="600">Follow Katie Pekarek's board Wedding Flowers on Pinterest.</a>
    <!-- Please call pinit.js only once per page -->
    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
  </div>
<% end %>
