<h1> <%= @vendor.name %></h1>

  <%= @vendor.phone_number %><br>
  <%= @vendor.contact_person %><br>
  <%= @vendor.contact_email %><br>
  <%= @vendor.additional_info %><br>

<%= link_to 'Edit', edit_vendor_path(@vendor), class: 'btn btn-info'%> <%= link_to 'Delete', vendor_path(@vendor), method: :delete, class: 'btn btn-danger' %> <%= link_to 'Back', vendors_path %>
