<!DOCTYPE html>
<html>
<head>
  <title>WeddingEventPlanner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<nav class='navbar navbar-inverse navbar-fixed-top'>
  <div class='container'>
    <% if current_user != nil && current_user.wedding %>
      <%= link_to "Wedding Event Planner", wedding_path(current_user.wedding), class: "navbar-brand" %>
    <% else %>
     <a class='navbar-brand' href='/'>Wedding Event Planner</a>
    <% end %>
    <ul class="nav navbar-nav">
      <% if current_user != nil && current_user.wedding %>
        <li><%= link_to "Events", wedding_path(current_user.wedding) %></li>
      <% else %>
        redirect_to root_path
        flash[:danger] = "You must create a wedding"
      <% end %>
      <li><a href="/vendors">Vendors</a></li>
      <li><a href="/budgets">Budget</a></li>
    </ul>
    <div class= 'pull-right'>
      <% if current_user %>
      <%= link_to "#{current_user.username}", root_path, class: 'navbar-text' %>
      <%= link_to "Sign Out", signout_path, class: 'navbar-text' %>
      <% else %>
      <%= link_to "Sign Up", signup_path, class: 'navbar-text' %>
      <%= link_to "Sign In", signin_path, class: 'navbar-text' %>
      <% end %>
    </div>
  </div>
</nav>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash_#{name}", class: 'alert alert-success' %>
<% end %>

<body>
  <div class= "container">
    <%= yield %>
  </div>
</body>
</html>
